# Manage by ansible

# https://github.com/elastic/elasticsearch-docker
FROM prom/snmp-exporter:v{{ snmp_exporter_version }}
EXPOSE {{ snmp_exporter_web_listen_address }}
COPY snmp.yml /etc/snmp_exporter/snmp.yml